$dark-color: #484c7f;
$main-color: #ac8daf;
$light-color: #ddb6c6;
$background-color: #f1d4d4;
$small-margin: 10px;
$medium-margin: 20px;
$big-margin: 40px;
$English-font: 'Montserrat', sans-serif;
$Japanese-font: 'Noto Sans JP', sans-serif;
$small-break: 400px;

ul{
    list-style: none;
}

a{
    text-decoration: none;
    padding: $small-margin $medium-margin;
    color: $background-color;
    background-color: $dark-color;
    display: inline-block;
    text-align: center;
}

@mixin centering{
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

@mixin form($backgroundColor, $borderColor){
    background-color: $backgroundColor;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
    label{
        display: block;
        margin-bottom: 10px;
    }
    input{
        width: 100%;
        margin-bottom: 10px;
        height: 25px;
        border: 1px solid white;
        &:focus{
            border: 1px solid $borderColor;
        }
    }
}

body{
    background-color: $background-color;
    box-sizing: border-box;
    font-family: $English-font;
    header{
        h1{
            color: $dark-color;
            text-align: center;
        }
    }
    .mainNav{
        ul{
            display: flex;
            padding: 0;
            max-width: 400px;
            margin: 0 auto;
            li{
                border-top-right-radius: 15px;
                &:nth-of-type(1){
                    background-color: $light-color;
                    color: $dark-color;
                }
                &:nth-of-type(2){
                    background-color: $main-color;
                    color: $dark-color;
                }
                &:nth-of-type(3){
                    background-color: $dark-color;
                    color: $background-color;
                }
                &:nth-of-type(4){
                    color: $dark-color;
                    font-weight: bold;
                }
                a{
                    background-color: inherit;
                    color: inherit;
                    border-radius: inherit;
                }
            }
            
        }
    }
    .newKanjiForm{
        padding: $small-margin;
        background-color: $light-color;
        max-width: 400px;
        margin: 0 auto;
        a{
            display: block;
            text-align: center;
        }
    }
    label{
        display: block;
        margin-bottom: $small-margin;
    }
    input{
        width: 100%;
        border: none;
        margin-bottom: $small-margin;
        height: 25px;
        border: 1px solid white;
        font-family: $Japanese-font;
        &:focus{
            outline: none !important;
            border: 1px solid $dark-color;
        }
    }
    textarea{
        width: 100%;
        height: 50px;
        border: 1px solid white;
        padding: 0;
        margin-bottom: $small-margin;
        &:focus{
            outline: none !important;
            border: 1px solid $dark-color;
        }
    }
    .relatedKanji{
        margin-top: $big-margin;
        max-width: 400px;
        margin: 0 auto;
        h3{
            text-align: center;
            color: $dark-color;
            margin-bottom: $small-margin;
        }
        .isKanjiStored{
            background-color: $background-color;
            margin-bottom: 0;
            margin-top: $small-margin;
            text-align: center;
        }
        a{
            width: 120px;
            margin: 0 auto;
        }
        .kanjiCompared{
            background-color: $background-color;
            text-align: center;
            margin: 0 0 $small-margin;
            padding: 0;
        }
        div{
            background-color: $light-color;
            padding: $small-margin;
            margin-bottom: $medium-margin;
            p{
                color: $dark-color;
                margin: 0 0 $small-margin;
            }
            ul{
                margin: 0 0 $medium-margin;
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }
    .search{
        @include form($main-color, $dark-color);
        a{
            display: block;
            text-align: center;
        }
    }
    .jlptSection{
        background-color: $dark-color;
        color: $light-color;
        max-width: 400px;
        margin: 0 auto;
        padding: $small-margin;
        position: relative;
        ul{
            padding: 0;
            li{
                font-size: 20px;
                padding: 0;
                display: inline;
                a{
                    padding: 10px 10px;
                }
            }
        }
        .kanjiModal{
            padding: $small-margin;
            position: fixed;
            height: 100vh;
            max-width: 400px;
            top: 0;
            left: 0;
            background-color: $light-color;
            color: $dark-color;
            @media(min-width: 400px){
                height: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 350px;
            }
            a{
                float: right;
            }
            h5{
                clear: both;
                text-align: center;
                font-size: 60px;
                margin: $medium-margin 0;
            }
            ul{
                li{
                    display: block;
                    font-size: 16px;
                }
            }
        }
    }
    .allSection{
        margin-top: $medium-margin;
        table{
            margin: 0 auto;
            width: 100%;
            max-width: 400px;
            border-collapse: collapse;
            thead{
                background-color: $dark-color;
                color: $background-color;
                font-family: $English-font;
                th{
                    font-weight: normal;
                    padding: $small-margin;
                }
            }
            tbody{
                td{
                text-align: center;
                padding: $small-margin 0;
                }
                tr{ 
                    border-bottom: 1px solid $background-color;
                    background-color: $light-color;
                }
            }
        }
        div.noStoredWords{
            @include centering;
            color: $dark-color;
            text-align: center;
            font-family: $English-font;
        }
    }
}

.japanese{
    font-family: $Japanese-font;
}

.inputError{
    color: $dark-color;
    p{
        margin: 0 $small-margin $small-margin;
    }
}

.hide{
    display: none;
}

.show{
    display: block;
}

